pinecone
pinecone[grpc]
langchain-pinecone
langchain-openai
langchain-text-splitters
langchain
unstructured
openai
langchain
pandas 
numpy
python-dotenv
crewai
crewai_tools
langchain_community
composio-crewai


