langchain==0.0.316
python-dotenv==1.0.0
streamlit==1.22.0
unstructured==0.9.2
libmagic==1.0
python-magic==0.4.27
libmagic==1.0
streamlit-extras==0.1.5
yfinance==0.2.50
matplotlib==3.7.1
feedparser==6.0.10
nltk==3.8.1
newspaper3k==0.2.8
pinecone-client==2.2.1
openai==0.28.1
lxml==4.9.3
pinecone
tiktoken
nltk
